<body>


<section class="hero">
	<div class='hero-content'> 
		<h1>Destiny 2</h1>
		<p>Subclasses</p>

		<a href= "/media" class="btn btn-lg btn-primary"> 
		About</a>
 			<a href= "/media" class="btn btn-lg btn-primary"> 
 			Contact</a>
	</div>
</section>


<div calss='text-center'>
	<h1> Destiny 2 Subclass </h1>
		<div class='row'>
			<div class='col-sm-8'>
				<h3> Warlock</h3>
			  <img src="http://cdn.gamer-network.net/2017/usgamer/Destiny-2-Warlock-Dawnblade-Skill-Tree.png" alt="Warlock" width="700" height="400">
			  <h2>The Warlock Dawnblade is the new Warlock solar subclass in Destiny 2, which replaces the old Warlock Sunsinger. It's the first Warlock class you'll get to play in Destiny 2.</h2>
			</div>	

			<div class='col-sm-8'>
				<h3> Hunter</h3>
			  <img src="https://stack-up.org/wp-content/uploads/2017/06/Future-Foe-AR.jpg" alt="Hunter" width="700" height="400">
			  <h2>The Hunter Arcstrider is the new Hunter arc subclass for Destiny 2, and replaces the old Bladedancer subclass from the first Destiny, with this new super that focuses on an electrified staff and a large amount of rapid mobility. It's the first subclass you will get to play as a Hunter in Destiny 2.</h2>
			</div>

			<div class='col-sm-8'>
				<h3> Titan</h3>
			  <img src="http://cdn.gamer-network.net/2017/usgamer/Destiny-2-Titan-Sentinel-Screen.png" alt="Titan" width="700" height="400">
			  <h2> The Titan Sentinel is the new void subclass for Destiny 2, and thus the first that you'll get to play as a Titan. It replaces the Titan Defender, with the new Super, already known casually as the 'Captain America Shield' (and officilly known as the Sentinel Shield), replacing the old Ward of Dawn bubble - although the bubble is not necessarily gone altogether!</h2>
			</div>

		</div>		
</div>


